In [1]:
import pandas as pd

cust = pd.read_excel("customer_input.xlsx")

In [2]:
cust.head(3)

,CustomerID,CustomerName,Age,Gender,Billing,Balance,#of Payments,BestTimeContact,Missed Payments,Job,Student
0,1,Customer - 1,46,M,N,25000,4,Morning,0,1,0
1,2,Customer - 2,65,F,Y,500,0,Morning,0,1,0
2,3,Customer - 3,73,M,N,2000,0,Evening,0,0,0

# Group by 'Gender' and calculate the average age for each gender:

In [11]:
cust.groupby('Gender')['Age'].mean()

Gender
F    52.142857
M    44.875000
Name: Age, dtype: float64

# Group by 'Billing' and calculate the total balance for each billing type:

In [12]:
cust.groupby('Billing')['Balance'].sum()

Billing
N    38970
Y    78500
Name: Balance, dtype: int64

# Group by 'BestTimeContact' and count the number of customers for each contact time:

In [13]:
cust.groupby("BestTimeContact")['CustomerID'].count()

BestTimeContact
Evening    9
Morning    6
Name: CustomerID, dtype: int64

# Group by 'Job' and calculate the maximum age for each job type:

In [14]:
cust.groupby("Job")['Age'].max()

Job
0    73
1    65
Name: Age, dtype: int64

# Group by multiple columns and calculate the average balance for each combination of 'Billing' and 'Student' status:

In [15]:
cust.groupby(['Billing','Student'])['Balance'].mean()

Billing  Student
N        0           5502.857143
         1            450.000000
Y        0          11583.333333
         1           9000.000000
Name: Balance, dtype: float64

# Group by 'Billing' and 'Gender', then calculate the total balance for each combination:

In [16]:
cust.groupby(['Billing','Gender'])['Balance'].sum()

Billing  Gender
N        F          5400
         M         33570
Y        F          8000
         M         70500
Name: Balance, dtype: int64

# Group by 'BestTimeContact' and 'Gender', then calculate the average age for each combination:

In [17]:
cust.groupby(['BestTimeContact','Gender'])['Age'].mean()

BestTimeContact  Gender
Evening          F         54.500000
                 M         48.800000
Morning          F         49.000000
                 M         38.333333
Name: Age, dtype: float64

# Group by 'Job' and 'Billing', then calculate the median balance for each combination:

In [18]:
cust.groupby(['Job','Billing'])['Balance'].median()

Job  Billing
0    N          2000.0
     Y          3750.0
1    N          2000.0
     Y          9000.0
Name: Balance, dtype: float64

# Group by 'Student' status and 'Missed Payments', then count the number of customers in each category:

In [19]:
cust.groupby(['Student','Missed Payments'])['CustomerID'].count()

Student  Missed Payments
0        0                  10
         1                   3
1        0                   2
Name: CustomerID, dtype: int64