In [1]:
import pandas as pd

# 1 Working With Series in pandas

# Creating an empty Series:

In [2]:
pd.Series()

Series([], dtype: object)

# Creating series from data

In [63]:
import numpy as np

In [64]:
data = np.array([10,20,30])
data2 = np.array(['n','0','o','r'])

In [130]:
ser1 = pd.Series(data)
ser2 = pd.Series(data2)
print(ser1)
print(ser2)

# Creating a series from array with an index:

In [6]:
mylist = np.array(['noor','john','karan','shazia'])

In [131]:
# mylist

In [8]:
ser_mylist  = pd.Series(data=mylist,index=[10,20,30,40])

In [132]:
# ser_mylist

# Creating a Series from list

In [133]:
sub_ka_list = [10,20,30,40,50]
pd.Series(sub_ka_list)

# Creating a Series from Dictionary

In [11]:
mydict = {
    'a':'apple',
    'b':'ball',
    'c':'cat',
    'd':'dog'
}

In [134]:
pd.Series(mydict)

# Creating a series from Scalar value:

In [135]:
pd.Series(10,index=[0,1,2,3,4,5])

# Creating a series with Numpy Functions

In [136]:
pd.Series(np.linspace(0,100,10))

# Creating a Series using range function:

In [137]:
pd.Series(range(10))

# Creating a Series using for loop and list comprehension:

In [138]:
pd.Series(range(1,5),index=[x for x in 'abcd'])

# Creating a Series using mathematical expressions:

In [139]:
ser = np.arange(10,15)
pd.Series(data=ser*5)

# Series Working with Real Dataset

In [70]:
df = pd.read_excel('VariableWithIDs.xlsx')

In [73]:
var_series = df['Crop Name']

In [140]:
# Basic operations on Series
var_series.head()  # Display the first few elements of the Series

In [145]:
var_series.describe() # Generate descriptive statistics of the Series

In [142]:
var_series.value_counts()  # Count the occurrences of unique values in the Series

In [146]:
# Filtering data using Series
# var_series[var_series == 'Sugarcane']  # Filter values

In [147]:
# Applying functions to Series
def custom_function():
    # Apply some custom logic
    for var in var_series:
        print(var)

custom_function()

In [148]:
# Sorting Series
var = pd.Series(data=[1,2,3,4,5])
# var.sort_values(ascending=False)  # Sort the Series in descending order

In [149]:
# drop nan values
# var_series.dropna()

In [150]:
# Modifying Series values
var = pd.Series([1,2,3])
var.replace({1:10,2:20})

In [151]:
# Concatenating Series
series1 = pd.Series([1, 2, 3])
series2 = pd.Series([4, 5, 6])
pd.concat([series1, series2])  # Concatenate two Series

In [152]:
# Other useful Series functions
column_series = pd.Series([10,2,3,4,5])
print(" unique :\n",column_series.unique())  # Get unique values in the Series
print(" largest val :\n ", column_series.nlargest(2))  # Get the 5 largest values in the Series
print(" max index : \n ",column_series.idxmax()) # Get the index of the maximum value in the Series

# 2 Working With Dataframe

# Creating a Pandas DataFrame

In [30]:
mydata = ['a','b','c','d','e','f']

In [153]:
pd.DataFrame(data=mydata,columns=['letters'])

# Creating DataFrame from dict of ndarray/lists:

In [154]:
mydict = {
    'name':['noor','raza','shazia'],
    'Age':[10,20,30],
    'gender':['male','male','female']
}
pd.DataFrame(mydict)

# Working with real Dataset

In [155]:
# Accessing columns in DataFrame
df['Crop Health']  # Extract a single column as a Series

In [156]:
df['Crop Name'].tolist()  # Convert a column to a list

In [157]:
df[['Field level_ID', 'Field level']]  # Extract a subset of columns as a new DataFrame

In [158]:
# Basic operations on DataFrame
# df.shape # Get the dimensions of the DataFrame
# df.describe()  # Generate descriptive statistics of the DataFrame

In [159]:
# df.info()  # Get information about the DataFrame

In [160]:
# Filtering data using DataFrame
df[df['Crop Name'] == 'Maize']  # Filter rows based on a condition

In [116]:
# Modifying DataFrame
df['new_column'] = df['Crop Name']+ " " + df['Crop Health']  # Create a new column based on existing columns

In [118]:
df.drop('Crop Name_ID', axis=1, inplace=True)  # Drop a column from the DataFrame

In [121]:
# Sorting DataFrame
sorted_df = df.sort_values(by='Crop Name', ascending=False)

In [123]:
# Accessing values in DataFrame
df.at[1, 'Crop Name']  # Access a specific value by row index and column name

'Rice'

In [161]:
# # Iterating over DataFrame
for index, row in df.iterrows():
    # Iterate over each row in the DataFrame
    print(f"Index: {index}, Row: {row}")

In [162]:
# Other useful DataFrame functions
df.isnull().sum()# Check for missing values in the DataFrame

In [126]:
df.dropna(inplace=True)

In [163]:
df.isnull().sum()

In [164]:
df.duplicated().sum() # Remove duplicate rows from the DataFrame

In [165]:
df.drop_duplicates()

In [166]:
import pandas as pd
df = pd.read_excel('VariableWithIDs.xlsx')

In [167]:
df.head(1)

,Crop Name_ID,Crop Name,Cotton Varity type_ID,Cotton Varity type,Crop Seed Variety_ID,Crop Seed Variety,Field level_ID,Field level,Crop Health_ID,Crop Health,...,Soil Type_ID,Soil Type,Unnamed: 34,Landuse_ID,Landuse,Type,Unnamed: 38,Landuse.1,Type.1,Type_ID
0,1.0,Sugarcane,1.0,Desi,1,MNH-1050,1.0,Levelled,1.0,Healthy,...,1.0,Clay soil,NaN,1.0,Builtup,Residential,NaN,Sugarcane,Agricultural,NaN

In [170]:
def custome_fun(a):
    if a == 'Maize':
        print(a)

df['Crop Name'].apply(lambda x: custome_fun(x))

Maize

0     None
1     None
2     None
3     None
4     None
      ...
65    None
66    None
67    None
68    None
69    None
Name: Crop Name, Length: 70, dtype: object